
.estilo1 p span {
    color: blue;
}

.logo1 img {
    float: left;
    margin: 5px;
}

.logo2 img {
    float: left;
    margin: 10px;
}

.top i {
    margin: 0 0 0 19px;
}

.logo2 p strong {
    margin-left: 110px;
    color: gray;
    font-size: x-large;
}

.bar1 {
    margin-left: 246px;
}

.end1 h2{
    color: blue;
}

.end1 p {
    color: gray;
}

.end1 {
    margin-left: 66px;
}

nav {
    background-color: black;
}

nav p {
    color: blanchedalmond;
}

.social-bar a {
    text-decoration: none;
    color: blanchedalmond;
}
#fondo {
    height: 300px;
    margin-left: -12px;
    margin-right: -12px;
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.foto img {
    max-height: 179px;
    border-radius: 85px;
    margin-left: 119px;
    margin-top: -119px;
}

.foto i {
    padding-left: 20px;
}

.block2 {
    border-radius: 14px;
}

.container {
    margin-top: 15px;
    border: 1px #ccc solid;
    border-radius: 14px;
    overflow: hidden;
}
