<div class="container block5">
    <div class="row">
      <div class="col-md-10">
          <h1>Hard Skill & Soft Skill</h1>
      </div>
          <div class="col-md-2">
              <i class="fa-solid fa-plus"></i>
          </div> 
          <div class="col-md-6 bar1">
              <p>Resolución de problemas</p>
              <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>
              <div class="col-md-2">
                  <i class="fa-solid fa-pen pen1"></i> 
                  <i class="fa-solid fa-trash"></i>
              </div>
          
          <div class="col-md-6 bar1">
              <p>Diseño de Sistemas</p>
              <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
          </div>
                  <div class="col-md-2">
                      <i class="fa-solid fa-pen pen1"></i> 
                      <i class="fa-solid fa-trash"></i>
                  </div>
              </div>
          </div>
     
          <div class="container block6">
              <div class="row">
                  <div class="col-md-10">
                      <h1>Proyectos</h1>
                  </div>
                  <div class="col-md-2">
                      <i class="fa-solid fa-plus"></i>
                  </div> 
                  <div class="col-md-8 end1">
                      <h2>e-Farmacia</h2> 
                      <p>Desarrollamos un sitio web de comercio electrónico Front End basado en Angular de alto tráfico con diseño innovador basado en UIX. Totalmente integrado con los sistemas CRM y ERP internos. </p>
                  </div>
                  <div class="col-md-2">
                      <i class="fa-solid fa-pen pen1"></i> 
                      <i class="fa-solid fa-trash"></i>
                  </div>
                  <div class="col-md-8 end1">
                      <h2>Sistema de Monitoreo</h2> 
                      <p>Desarrollamos un Back End basado en API Rest con la tecnología Spring Boot para proveer datos de monitoreo a aplicaciones distribuidas, también el desarrollo de interface entre sistemas de gestión para automatizar procesos </p>
                  </div> 
                  <div class="col-md-2">
                      <i class="fa-solid fa-pen pen1"></i> 
                      <i class="fa-solid fa-trash"></i>
                  </div>
              </div>
          </div>
