<nav>
    <div class="container-no">
        <div class="row">
            <div class="col-md-10">
                <p>Paola Marques</p>
               
            </div>
            <div class="col-md-2 social-bar">
                <a href="" class="icon icon-facebook2" target="_blank"></a>
                <a href="" class="icon icon-instagram" target="_blank"></a>
                <a href="" class="icon icon-twitter" target="_blank"></a>
                <button type="button" class="btn btn-sm btn-outline-success">Login</button>
            </div> 
        </div>
    </div>  
  </nav>
  <!-- Content -->
  
  <div class="container block1">
  <div id="fondo"></div>
  <div class="foto">
  <img src="../../../assets/roedor.jpeg"/>
  <i class="fa-solid fa-pen"></i>
  </div>
  <div class="row">
    <div class="col-md-8">
        <h1>Paola Marques</h1>
    </div>
    <div class="col-md-4 logo1">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Conicet_Logo_con_letras.png/640px-Conicet_Logo_con_letras.png" alt="logo conicet" width="20%" height="20"> 
    <p> CONICET</p>          
    </div> 
    <div class="col-md-8 estilo1">
        <p>Informática en CONICET</p>
        <p>Buenos Aires (Argentina) <span>Información de contacto</span></p>
        <button type="button" class="btn btn-primary">Tengo interés en</button>
    <button type="button" class="btn btn-light">Añadir Sección</button>
    <button type="button" class="btn btn-light">Más</button>
    </div>
    <div class="col-md-4 logo1">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Logo_de_la_Universidad_de_Buenos_Aires.jpg/479px-Logo_de_la_Universidad_de_Buenos_Aires.jpg" alt="Logo Universidad de Buenos Aires" width="20%" height="40%"> 
        <p> Universidad de Buenos Aires</p>       
    </div> 
  </div>
  </div>
