<div class="container block3">
    <div class="row">
        <div class="col-md-10">
            <h1>Experiencia</h1>
        </div>
        <div class="col-md-2">
            <i class="fa-solid fa-plus"></i>
        </div> 
        <div class="items-list" *ngFor="let item of experienciaList">
            <div class="col-md-2 controls">
                <i class="fa-solid fa-pen pen1"></i> 
                <i class="fa-solid fa-trash"></i>
            </div>
            <div class="col-md-10 logo2">
                <img src="{{item.img}}" alt="logo cubo" width="10%" height="50" />
                <h2>{{item.position}}</h2> 
                <p>{{item.company}} - {{item.mode}}</p>
                <p><strong>{{item.start}} - {{item.end}} - {{item.timeElapsed}}</strong></p>
                <p><strong>{{item.location}}</strong></p>
            </div>
            <!--
            <div class="col-md-2">
                <div class="top">
                    <i class="fa-solid fa-plus"></i>
                </div>
                <div class="bottom1">
                    <i class="fa-solid fa-pen pen1"></i> 
                    <i class="fa-solid fa-trash"></i>
                </div>
            </div>
            -->
        </div>
    </div> 
</div>
